body
    {
	font-family: arial;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #ffffff;
	margin-top: 1;
	margin-bottom: 1;
	}
A
    {
    color: #000000;
    text-decoration: underline;
    }
A:link
    {
    color: #000000;
    }
A:visited
	{
	color: #000000;
	}
A:active
	{
	color: #ff0000;
	}
A:hover
	{
	color: #ff0000;
	}
A.Button
    {
    border-style: outset;
    }
font
	{
	font-family: arial;
	font-size: 10pt;
	font-weight: none;
	}
font.Small
    {
    font-size:9pt;
    }	
font.Big
    {
    font-size:16pt;
    }    
font.Title
    {
    font-size:14pt;
    font-weight:bold;
    }
font.Button
    {
    font-weight:bold;
    /*color:black;*/
    text-decoration: none;
    }    
font.BigButton
    {
    font-size:larger;
    font-weight:bold;
    /*color:black;*/
    text-decoration: none;
    }    
    
font.Tiny
    {
    font-size: 8pt;
    font-weight: none;
    }    
    
        .step
    {
        color: #404040;
        font-weight: bold;
        font-size: 1.5em;
        padding: 10px 0 10px 0;
    }	
table.ResultsTable
    {
    text-align: center;
    cell-spacing: 4;
    padding: 5;
    align:center;
    }
table.Command
    {
	border-width : 1px;
	border-style : solid;
    }    
td.TableTitle
	{
	background-color: #9dacc5;
	color: #000000;
	font-weight: bold;
	border-width : 1px;
	border-style : none;
	text-align: center;
	}

td.TableContent1
	{
	background-color: #ebebeb;
	color: #000000;
	text-align: center ;
	border-width : 0px;
	border-style : none;
	}

td.TableContent2
	{
	background-color: #ebebeb;
	color: #000000;
	text-align: center ;
	border-width : 0px;
	border-style : none;
	}
td.Search
    {
    background-color: #00FFFF;
    }	
tr{
  font-size: 16px;
}
/*    
IMG.Results
    {
    height: 120px;
    }    
*/    
TEXTAREA.Success
    {
	font-family: arial;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-style:solid;
    border-width:1px;
    }  
    
    
/* This is the width of the overall container */    
.GridResultsContainer
{ 
  width: 95%;
  display: table;
  text-align: center;
  margin: 0 auto;  
}

/* This is the container for each of the individual boxes
width controls how wide the boxes are
Border controls how thick the border around the box is
border-radius controls how rounded the corners are
Box-Shadow controls the shadow around each box
*/
.gridResult
{
  width: 200px;  
  border: 1px solid #ccc;  
  display:inline-table;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px 0px #ccc;
  -moz-box-shadow:    2px 2px 3px 0px #ccc;
  box-shadow:         2px 2px 3px 0px #ccc;  
  /*Please do not change below this line*/
  margin: 10px 1%;  
  padding: 10px 10px 5px 10px; 
}

.gridResult:nth-child(even)
{
  background-color: #ebebeb;
}

.gridResult:nth-child(odd)
{
  background-color: #ebebeb;
}


/* This controls the animal picture
Width is the size of the picture - must be less than the gridResult container
border-radius controls how rounded the corners are
*/
.gridResult a img
{
  width: 180px;
  border-radius: 3px;
  /* Please do not change below this line*/
  margin: 0 auto;
  display: inline-table;
  vertical-align: top;
}

/* Controls the text size and font */
.gridText
{
  font-family: arial;
	font-size: 10pt;
	color: #000000;
  text-align: center;
}

.adoptSearch
{
  width: 400px;
  padding: 5px;
  margin: 10px auto;
  display: block;
  vertical-align:middle;
  text-align: right;
}

#sortOptions
{
  margin-right: 15px;  
}
